# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Pytest cache
.pytest_cache/

# Coverage reports
.coverage
coverage.xml
htmlcov/

# Build artifacts
build/
dist/
*.egg-info/
/data
/.env
.env.test
*.env.local

