# Example .htpasswd file
# Username: admin
# Password: changeme
# Generated with: htpasswd -nb admin changeme
admin:$apr1$ruca84Hq$IZXqZ8h8L4nqQjP5xC8K11

# To create your own users, use one of these methods:
#
# Method 1: Using htpasswd command (Apache utils)
# apt-get install apache2-utils  # Debian/Ubuntu
# dnf install httpd-tools         # Fedora/RHEL
# htpasswd -c .htpasswd username  # Creates new file
# htpasswd .htpasswd username2    # Adds to existing file
#
# Method 2: Using openssl (already installed on most systems)
# echo "username:$(openssl passwd -apr1)" >> .htpasswd
#
# Method 3: Using online generator
# https://hostingcanada.org/htpasswd-generator/
# (Copy result to this file)
#
# IMPORTANT: Rename this file to .htpasswd and update credentials!
